{% extends 'home/base.html' %}
{% load static %}
{% block title %} Gráficas | Cáncer Infantil{% endblock %}
{% block content %}
    <!-- Content Start -->
    <div id="main">
        <!-- Title, Breadcrumb Start-->
        <div class="breadcrumb-wrapper">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-xs-12 col-sm-6">
                        <h2 class="title">Graficas</h2>
                    </div>
                    <div class="col-lg-6 col-md-6 col-xs-12 col-sm-6">
                        <div class="breadcrumbs pull-right">
                            <ul>
                                <li></li>
                                <li><a href="{% url 'home' %}">Inicio</a></li>
                                <li>Covid</li>
                                <li>Graficas</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Title, Breadcrumb End-->
        <!-- Main Content start-->
        <div id="content" class="container">
            <h5>Tipos de Cancer Dominantes:</h5>
            <div class="row">
                <div class="col-sm-12">
                    <div class="col-sm-3">
                        <div>
                            <label>Estado:</label>
                        </div>
                        <div>
                            <select class="form form-control" name="frmTipoServicio"
                                    id="frmTipoServicio">
                                {% for estados in republica %}
                                    <option >{{ estados.ent_resid}}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div>
                            <label>Filtrar por:</label>
                        </div>
                        <div>
                            <select class="form form-control" name="frmTipoServicio"
                                    id="frmTipoServicio">
                                <option selected value="1">CANCER DOMINANTES</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div>
                            <label>Año:</label>
                        </div>
                        <div>
                            <select class="form form-control" name="frmTipoServicio"
                                    id="frmTipoServicio">
                                <option selected value="1">TODOS</option>
                                {% for años in año %}
                                    <option >{{ años.anio_regis}}</option>
                                    {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-12 text-center"
                         style="padding-top: 2em; padding-bottom: 2em;">
                        <a href=#><input name="btnConsultar" id="btnConsultar" type="submit" title="Consultar"
                                         class="btn&#x20;btn-primary" data-filter-datatable="datatableServicios"
                                         value="Consultar"> </a>
                    </div>
                </div>
               <div>
                    <h2>Grafica</h2>
                    {{ fig | safe }}
                </div>
            </div>
        </div>

    </div>

    <!-- Main Content end-->
    <!-- Content End -->
{% endblock %}